@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* warna custom */
  --color-warna1: #d9d9d9;
  --color-warna2: #d4c9be;
  --color-warna3: #123458;
  --color-warna4: #030303;
  --color-putih: #ffffff;

  /* existing */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Lexend', sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.material-symbols-outlined {
  font-size: 32px;
}
